.pokemon-type {
  border: 1px solid #cccccc;
  border-radius: 41px;
  width: 140px;
  float: left;
  margin: 0 10px 0 0;
  background-color: #ffffff;

  img {
    width: 35px;
  }
  span {
    margin: 8px;
    font-size: 18px;
  }
  &:hover {
    background-color: lightcoral;
    cursor: pointer;
  }
}
